
  body {
    background-color: #EAF6F6;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 7px;
    width: 4%;
  }
h1{
  font-style: normal;
  color: #66BFBF;
}

h3{
  font-style: normal;
  color: #66BFBF;
}

img{
border-radius: 50px;
width: 500px;
}



.Peeps{
  color: lightblue;
}
